*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.left{
    width: 20%;
    height: 100vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.left .exit{
    display: flex;
    position: relative;
    top: 20%;
}
.left .exit button{
    width: 15em;
    height: 6vh;
    color: rgb(204, 16, 16);
    font-weight: bold;
    background-color: rgb(255, 214, 222);
    border: none;
    border-radius: 20px;
}
.right .top {
    padding: 2%;
    height: 20vh;
    
}

.separateur{
    background-color: black;
    display: block;
    height: 1px;
    margin-top: 2%;
    width: 100%;
}
.top .sec1{
    display: flex;
    justify-content: space-between;
    margin: 1% 10%;
    align-items: center;
}
.top #barre{
    margin-top: 2%;
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: black;
    opacity: 20%;
}
.right .top i{
    font-size: 2em;
    color: orange;
}
.right .top span{
    color: orange;
}
.menu ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    align-items: center;
}
.menu ul span{
    background-color: gray;
    width: 12em;
    height: 0.1vh;
    opacity: 40%;
}
.menu ul a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}
.left .account{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.right{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    width: 76%;
    transform: translateX(21em);
    position: static;
    gap: 20px;

}
.bottom, .ending{
     padding-bottom: 2%;
     height: 60vh;
}
.ending{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}
.prt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
.cont:focus ~.chld3{
    display: block;
} 
.cont:hover ~.chld3{
    display: block;
} 
.cont:active ~.chld3{
    display: block;
} 
.chld3 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    display: none;
}
        
.bottom{
    padding: 5%;
    padding-top: 2%;
    padding-right: 7%;
    height: 50vh;
    position: relative;
    transform: translate(-5%, -15%);
}
.ending{
    background-color: white;
    height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.ending .cont{
    display: flex;
}
.bottom h1{
    text-align: center;
    text-decoration: underline;
}
.grids {
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 4%;
    margin-right: 3%;
    margin-bottom: 10%;

} 
.gridstat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    margin: 4%;
    margin-right: 5%;
    margin-bottom: 10%;
    

}    
.grids h1{
    font-size: 1.2em;
    text-align: center;
    margin-top: 5%;
}
.grids p{
    margin-left: 5%;
}
.div1:hover, .div2:hover, .div3:hover{
    transform: scale(1.1);
}
.divs1:hover, .divs2:hover, .divs3:hover{
    transform: scale(1.1);
}
.div1{
    border: 1px solid rgb(128, 128, 128);
    height: 30vh;
    width: 20em;
    border-radius: 20px;
    transition: 0.5s;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.div3{
    border: 1px solid rgb(126, 126, 126);
    height: 30vh;
    width: 20em;
    border-radius: 20px;
    transition: 0.5s;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.divs3{
    border: 1px solid rgb(126, 126, 126);
    height: 30vh;
    width: 20em;
    border-radius: 20px;
    transition: 0.5s;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.div2{
  border: 1px solid rgb(127, 127, 127);
    height: 30vh;
    width: 20em;
    background-color: white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.555);
    transition: 0.5s;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.divs1{
    border: 1px solid rgb(0, 0, 0);
    height: 20vh;
    background-color: white;
    width: 20em;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.divs2{
  border: 1px solid rgb(0, 0, 0);
    height: 20vh;
    width: 20em;
    background-color: white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.555);
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.divs2 h1{
    font-size: 1.2em;
    text-decoration: none;
}
.divs1 h1{
    font-size: 1.2em;
    text-decoration: none;
}
.gridstat p {
    margin-left: 5%;
}
.grids2{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin: 0 7%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-radius: 30px;
}
.grids21{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 3%;
    
}
.grids21 .jour{
    width: 3em;
    height: 3em;
    padding: 2%;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.grids2 h1{
    text-align: center;
    margin: 2%;
}
#account{
    font-size: 9em;
    position: relative;
    transform: translateY(-1em);
}
html {
    scroll-behavior: smooth;
}
@media screen and (max-width: 767px) {
    body{
        overflow-x: hidden;
    }
    .left{
        display: none;
    }
    .right{
        width: 100%;
    }
    .div1{
    border: 2px solid rgb(0, 0, 0);
    height: 30vh;
    width: 20em;
    border-radius: 20px;
    transition: 0.5s;

}
.div2{
    border: 2px solid rgb(0, 0, 0);
    height: 30vh;
    width: 20em;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.555);
    transition: 0.5s;

}
.grids2{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin: 0 4%;
    height: 63vh;
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-radius: 30px;
}
.grids21{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    margin-top: 5%;
    
}
.gridstat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 4%;
    margin-right: 5%;
    margin-bottom: 10%;
    

}  
}