*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    background-color: rgb(246, 246, 246);
}
.left, .right{
    width: 50%;
}
.left{
    position: relative;
    background-color:#2d7bda;
    height: 100vh;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
    z-index: 0;
}
.left .img img{
    position: absolute;
    opacity: 20%;
    z-index: 1;
    height: 120vh;
    transform: translate(-46em, -24em);
}
.left .title{
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.left .title h1{
    font-size: 7em;
    font-family: 'arial black';
}
.left .title p{
    width: 80%;
    text-align: center;
}
.right .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translate(0, 3em);
    margin: 14%;
    gap: 40px;
    border-radius: 40px;
    padding: 6% 0;
}
.right .form button{
    width: 20em;
    height: 4em;
    border-radius: 30px;
    border: none;
    transition: 0.5s;
}
.right .form button:hover{
    transform: scale(1.1);
}
.right .form a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.right .form h1{
    font-family: 'calibri',sans-serif;
}

@media screen and (max-width: 767px) {
    body{
        display: block;
        height: 110vh;
        overflow-x: hidden;
        
    }
    .left{
        height: 52vh;
        position: absolute;
        bottom: 50%;
        padding: 50%;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
        border-top-right-radius: 0;
    }
    .left .title{
        position: absolute;
        right: 1%;
    }
    .left .title h1{
        font-size: 5em;
    }
    .right{
        position: relative;
        width: 100%;
        height: 100vh;
    }
    .right .form{
        position: relative;
        top: 40%;
        width: 90%;
        right: 5%;
        height: 45vh;
        right: 9%;
    }
    .right .form h1{
    font-family: 'calibri',sans-serif;
    font-size: 1.3em;
}
    .right .form button{
        width: 13em;
        height: 5vh;
}
    .img img{
        position: relative;
        left: 60%;
    }
}