body{
    font-family: Arial,sans-serif;
    background: #f0f6ff;
    margin: 0;
    padding: 0px;
}
.container{
     width: 100%;
     height: 100vh;
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgb(0, 0, 0,0.1);
    overflow: hidden;
    position: fixed;
}
.hero{
    width: 300px;
    background: #e9f0ff;
    padding: 30px;
    text-align: center;
    border-right:1px solid #d0ddf5;
}
.logo img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
}
.nom{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
.fonction{
    font-size: 15px;
    color: #637296;
    margin-bottom: 20px;
}

.content {
    position: relative;
    margin-top: 20px;
 }
.title {
  font-size: 26px;
 font-weight: bold;
 margin-bottom: 10px;
}

.subtitle {
 color: #6b7a96;
 margin-bottom: 20px;

 }
table{
    margin-top: 60px;
    position: absolute;

    top: 25%;
    left: 30%;
    padding:15px;
    border-collapse: collapse;
    font-size: 20px;
}
th{
    padding: 9px;
    border-bottom: 1px solid #d0ddf5;
    font-weight: bold;
}
td{
    padding: 9px;
    border-bottom: 1px solid #e5ecff;
    text-align: center;
}
td .nom{
    text-align: left;
}
@media screen and (max-width: 767px){
    .container{
        overflow: hidden;
     width: 100%;
     height: 30vh;
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgb(0, 0, 0,0.1);
    overflow: hidden;
}
    .hero{
        width: 400px;
        background: #e9f0ff;
        padding: 30px;
        text-align: center;
        border-right:1px solid #d0ddf5;
    }
    .logo{
        position: relative;
    }
    .content {
    position: relative;
    left: 40%;
    transform: translateY(17em);
 }
 .title {
    font-size: 0.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }
 table{
    transform: translateY(7em);
 }
}