<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='insetu.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="fond"><img src="{{ url_for('static', filename='backadmin.jpeg') }}" alt=""></div>
    <div class="container">
        <div class="form-box loging">
            <div class="form-box loging">
            <form action="/insetud" method="POST" >
                <h1>Bienvenue!</h1>
                <div class="input-box">
                    <input type="text" placeholder="Nom" name="nom" required>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Nom" name="prenom" required>
                </div>
                <div class="input-box">
                  <input type="text" placeholder="Matricule" name="matricule" required>
                </div>
                <div class="input-box">
                  <input type="email" placeholder="Email" name="email" required>
                </div>
                <div class="input-box">
                 <select name="niveau" id="">
                    <option value="L1">L1</option>
                    <option value="L2">L2</option>
                    <option value="L3">L3</option>
                    <option value="L4">M1</option>
                    <option value="L5">M2</option>
                 </select>
                  <div class="input-box">
                 <select name="filiere" id="">
                    <option value="INFO">INFO</option>
                    <option value="MIAGE">MIAGE</option>
                    <option value="ADA">ADA</option>
                    <option value="SECO">SECO</option>
                    <option value="SPO">SPO</option>
                 </select>
                </div>
                <button type="submit" class="btn" value="submit" name="ok" >Soumettre</button>
            </form>
        </div>
        </div>
    </div>
    <div class="returnb">
        <a href="{{ url_for('conetu') }}"><i class="fa-solid fa-arrow-left-long"></i></a>
    </div>
</body>
</html>